@charset "UTF-8";
@import url(switch.css);
@import url(sup-menu.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track{
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background: var(--linear-gradient);
    border-radius: 12px;
}

:root{
    --bg-color: rgba(66, 134, 244, 0.07);
    --primary-color: #4285F4;
    --secondary-color: #D96570;
    --tertiary-color: #9B72CB;
    --linear-gradient: linear-gradient(180deg, var(--primary-color), var(--tertiary-color), var(--secondary-color)); 
}

body{
    background-color: var(--bg-color);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.container{
    padding: 3rem 2rem;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 400px;
}

.answer-switch{
    padding: 2rem 0 0.7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.question-input{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem;
    background-color: #fff;
    border-radius: 32px;
    border: 2px dashed rgba(128, 128, 128, 0.7);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    position: relative;
}

label[for="image-input"].btn-image-input{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#image-input{
    display: none;
    cursor: pointer;
}

.img-selector{
    max-width: 42px;
}

.drag-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 32px;
}
.drag-area.dragover{
    z-index: 4;
    background: rgba(205, 205, 205, 0.4);
}

.send-icon{
    background: none; 
    border: none; 
    width: 32px;
    max-height: 32px;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    display: none;
}
.send-icon.show{
    display: block;
}

.question-output{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#question-output{
    border: 0;
    display: none;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 0;
    resize: none;
}
#question-output.quickShow{
    display: block;
    height: 160px;
}
#question-output.detailedShow{
    display: block;
    height: 600px;
}

#question-output::-webkit-scrollbar {
    width: 10px;
}
#question-output::-webkit-scrollbar-track{
    background: transparent;
}
#question-output::-webkit-scrollbar-thumb{
    background-color: rgba(66, 134, 244, 0.8);
    border-radius: 12px;
}